      </div> <!-- End main-inner -->
      <footer class="footer">
        <p>جميع الحقوق محفوظة &copy; <%= new Date().getFullYear() %> EgyShahid</p>
      </footer>
    </main>
  </div>
  <script src="js/main.js"></script>
</body>
</html>
