      </div> <!-- End main-inner -->
      <footer class="footer">
        <p>جميع الحقوق محفوظة &copy; <%= new Date().getFullYear() %> Shahid</p>
      </footer>
    </main>
  </div>
  <script src="/js/main.js"></script>
</body>
</html>
